.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#tsparticles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#header, #home {
  background-color: transparent !important;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#about {
  margin-top: 2em;
  margin-bottom: 2em;
}
#resume {
  color:white;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 2em;
}

#portfolio {
  color: white;
}

.project-thumbnail {
  margin-top: 1em;
  margin-bottom: 1em;
}
.App-about-cont {
  color:#fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: transparent !important;
}
html {
  background-color: #212529;
}
